$fonts: '../../assets/fonts/';

@font-face {
  font-family: 'Noyh';
  src: url($fonts + 'typesketchbook-noyhblack-webfont.woff2') format('woff2'),
       url($fonts + 'typesketchbook-noyhblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
