$fonts2: '../../assets/fonts/';

@font-face {
  font-family: 'Noyh';
  src: url( $fonts2 + 'typesketchbook-noyhblack-webfont.woff2' ) format('woff2'),
       url( $fonts2 + 'typesketchbook-noyhblack-webfont.woff' ) format('woff');
  font-weight: normal;
  font-style: normal;
}
