@import 'fonts';

body {
  margin: 0;
  font-family: 'Noyh';
  background-color: #52382b;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

canvas {
  max-width: 1280px;
  max-height: 720px;
}
